<h1>Cubes!</h1>
<div id = "wrapper">
	<canvas id = "content">Why doesn't your browser support canvas? This isn't 1990.</canvas>
	<div id = "zoom_buttons">
		<button
			id = "zoom_in"
			class = "zoom_btn"
			aria-label = "Zoom in"
		>+</button>
		<button
			id = "zoom_out"
			class = "zoom_btn"
			aria-label = "Zoom out"
		>-</button>
	</div>
</div>
<script
	src = "engine.js"
></script>