<h1>Schemacell Documentation</h1>
<strong>THIS IS A WORK IN PROGRESS!</strong> I made this page as a direct response to the fact that the only other documentation I could find was on <a href = "https://discord.gg/GKKYHFuxFK">the Discord server</a>.
<h2 id = "toc_head">Table of Contents</h2>
<div id = "toc"></div>
<h2 id = "metadata">Metadata</h2>
Metadata provides important information about a cell. The values are:
<ul>
	<li>
		<code>name</code>: A string that represents the name of the cell in a human-readable format. By convention, it uses titlecase.
	</li>
	<li>
		<code>author</code>: A string that represents the author. By convention, the author name should be recognizable as your own. For example, I use <code>"Da BOXEN"</code> for mine.
	</li>
	<li>
		<code>id</code>: A string that gives an ID for the cell. By convention, it is all uppercase and separated with underscores. <em>Do not change IDs in updates!</em> It will break things! Also, avoid common names and duplicate names.
	</li>
	<li>
		<code>texture</code>: A string that represents the filename for the cell's default texture. The texture file is checked for in the same directory as the cell file.
	</li>
	<li>
		<code>updateIndex</code>: An integer that represents when the cell should be updated—lower indices go first. Generators use <code>1000</code>, clockwise rotators use <code>4000</code>, counterclockwise rotators <code>5000</code>, and movers <code>9000</code>. <em>Do not use zero!</em>
	</li>
</ul>
Since these properties are determined on the title screen, they can be made dynamically.
<h2 id = "overridables">Cell Functions</h2>
These functions can be overridden to determine cell behavior. These functions take an object <code>this</code> as the first argument, and only <code>Push</code> returns anything.
<h3 id = "overridables/push"><code>Push</code></h3>
<code><pre>
function Push(this, dir, bias)
	--push logic here
end
</pre></code>
In addition to the cell being pushed, <code>Push</code> has two more arguments.
<ul>
	<li>
		<code>dir</code>: The direction that the cell is being pushed. <strong>This is distinct from <code>this.direction</code>!</strong>
	</li>
	<li>
		<code>bias</code>: The bias of the push. A negative bias means pushing backwards in the default <code>Push</code> function.
	</li>
</ul>