<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8"/>
		<meta name = "viewport" content = "width = device-width, initial-scale = 1"/>
		<link href = "/main.css" rel = "stylesheet" type = "text/css"/>
		<link rel = "icon" type = "image/png" href = "/images/icon.png"/>
		<% if ((typeof includeJquery === "undefined") || (includeJquery === true)) { %>
			<script
				src = "https://code.jquery.com/jquery-3.7.1.min.js"
				integrity = "sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
				crossorigin = "anonymous"
				referrerpolicy = "no-referrer"
			></script>
		<% } %>
		<% if ((typeof removeButtonGlint === "undefined") || (removeButtonGlint === false)) { %>
		<script
			src = "/buttons.js"
		></script>
		<% } %>
		<% if (typeof title !== "undefined") { %>
			<title><%- title %></title>
		<% } %>
		<% if (typeof head !== "undefined") { %>
			<%- head %>
		<% } %>
	</head>
	<body>
		<%- body %>
	</body>
</html>