<h1>Miscellaneous Programs</h1>
These are just fun lil' projects I do when I'm bored. In no particular, here's what I have so far:
<ul>
	<li><a href = "fractal">Fractal Engine</a></li>
	<li><a href = "rust">Rust Tester</a></li>
</ul>