<h1>Miscellaneous Programs</h1>
These are just fun lil' projects I do when I'm bored. In no particular, here's what I have so far:
<ul>
	<li><a href = "fractal">Fractal Engine</a></li>
	<li><a href = "golf/clua">Compressed Lua (a rudimentary code-golfing language that transpiles to Lua)</a></li>
	<li><a href = "periodic">Periodic Table</a></li>
	<li><a href = "rust">Rust Tester (not working)</a></li>
</ul>