<h1>Fractal Engine</h1>
<p>You'll need to upload your code as a file to view its fractal. Here are some pre-made files you can download:</p>
<ul>
	<li><a href = "examples/tri_10.frac">Triangle Approximation Curve (depth 10)</a></li>
	<li><a href = "examples/quad_koch_II_5.frac">Quadratic Koch Curve Type II (depth 5)</a></li>
	<li><a href = "examples/koch_5.frac">Koch Curve (depth 5)</a></li>
	<li><a href = "examples/pseudo_koch_5.frac">Pseudo-Koch Curve (depth 5)</a></li>
	<li><a href = "examples/pseudo_koch_alt_5.frac">Alternate Pseudo-Koch Curve (depth 5)</a></li>
	<li><a href = "examples/koch_variant_8.frac">Koch Curve, 45° Variant (depth 8)</a></li>
	<li><a href = "examples/lévy_c_15.frac">Lévy C Curve (depth 15)</a></li>
</ul>
<p>If you made your own, you can also upload that here.</p>
<div>
	<label for = "fracfile" class = "btn">
		Upload .frac file
	</label>
	<input
		type = "file"
		id = "fracfile"
		accept = ".frac"
	/>
</div>
<div id = "wrapper">
	<canvas id = "content">Why doesn't your browser support canvas? This isn't 1990.</canvas>
	<div id = "zoom_buttons">
		<button
			id = "zoom_in"
			class = "zoom_btn"
			aria-label = "Zoom in"
		>+</button>
		<button
			id = "zoom_out"
			class = "zoom_btn"
			aria-label = "Zoom out"
		>-</button>
	</div>
</div>
<form id = "style" novalidate>
	<label>Line width: <input
		id = "width"
		type = "number"
		value = 1
		min = 0
		max = 5
		step = .1
	/>px</label><br/>
	<input
		type = "submit"
		value = "Update style"
		class = "btn"
	/>
</form>
<script
	src = "engine.js"
></script>