<script
	src = "https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.18/paper-full.js"
	integrity = "sha512-vjUldKgYtv115cNhQAfB13l96PgYxjdcza8lyWeh7onRaFLl5waWfYWGy2WU51nuWtWpVytyJ9hloTgDA+o1Pg=="
	crossorigin = "anonymous"
	referrerpolicy = "no-referrer"
></script>
<div id = "page">
	<div id = "precanvas"><h1>Fractal Engine</h1>
		I spend way too much time working on this.
		<form id = "newfrac">
			<label for = "fracfile">Upload .frac file here: </label>
			<input
				type = "file"
				id = "fracfile"
				name = "fracfile"
				accept = ".frac"
			/><br/>
			<button type = "submit">Submit</button>
		</form>
		If you don't want to learn the syntax and just view some quick fractals, here are some sample files:
		<ul>
			<li><a href = "examples/tri_10.frac">Triangle Approximation Curve (depth 10)</a></li>
			<li><a href = "examples/quad_koch_II_5.frac">Quadratic Koch Curve Type II (depth 5)</a></li>
			<li><a href = "examples/koch_2.frac">Simple Koch Curve (depth 10)</a></li>
			<li><a href = "examples/koch_advanced_3.frac">Advanced Koch Curve (depth 3)</a></li>
			<li><a href = "examples/koch_advanced_variant_3.frac">Advanced Koch Curve, 45° Variant (depth 3)</a></li>
		</ul>
	</div>
	<canvas
		id = "content"
	>Why doesn't your browser support canvas? This isn't 1990.</canvas>
</div>
<script
	src = "engine.js"
	type = "module"
></script>