<script
	src = "https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.18/paper-full.min.js"
	integrity = "sha512-qaPSGmKTwpu5ChwJ6AD3w7ecS3yM7pFC1cS3IfnjPM67dhXoymEomk1wqiZEHUFO4dQO1bhjo8LYImVDSDfR1g=="
	crossorigin = "anonymous"
	referrerpolicy = "no-referrer"
></script>
<h1>Fractal Engine</h1>
I spend way too much time working on this.
<form id = "newfrac">
	<label for = "fracfile">Upload .frac file here: </label>
	<input
		type = "file"
		id = "fracfile"
		name = "fracfile"
		accept = ".frac"
	/>
	<button type = "submit">Submit</button>
</form>