body {
	background-color: #7f7f7f;
	color: #ffffff;
}
#structure {
	display: flex;
	flex-direction: column;
}
.dynamic {
	background-color: #3f3f3f;
	resize: none;
}
#sources {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.source {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.source-hangoff {
	width: 100%;
	overflow-x: scroll;
	height: 50px;
}
textarea {
	box-sizing: border-box;
}
.codebox {
	min-height: 200px;
	width: 100%;
	color: #ffffff;
}
#chars {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
}
.symb {
	box-sizing: border-box;
	width: 50px;
	border-radius: 10px;
}
#add-case {
	float: left;
	width: 50px;
	height: 50px;
}
.test-case {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;
}
.test-case * {
	height: 50px;
}
.test-case textarea {
	width: 45%;
}
.to {
	width: 10%;
}
.btn {
	background-color: #bfbfbf;
	glint-color: #9f9f9f; /*fake property used in glint code*/
	border: 1px solid black;
	border-radius: 5px;
}
.btn:hover {
	background-color: #7f7f7f;
	cursor: pointer;
}
#tio {
	width: 100%;
	height: 30px;
}