<h1>Compressed Lua</h1>
<div id = "structure">
	<div id = "double-source">
		<div id = "source">
			<textarea
				class = "dynamic codebox"
				id = "clua"
			></textarea>
			<p id = "code-info"></p>
		</div>
		<button class = "btn" id = "transpile">Transpile…</button>
		<textarea
			class = "dynamic codebox"
			id = "lua"
		></textarea>
	</div>
</div>