<h1>Compressed Lua</h1>
<div id = "structure">
	<div id = "sources">
		<div class = "source" id = "c-source">
			<textarea
				class = "code dynamic codebox"
				id = "clua"
			></textarea>
			<div class = "source-hangoff" id = "clua-hangoff">
				<div id = "chars"></div>
				<div id = "code-info"></div>
			</div>
		</div>
		<div id = "togglers"><input type = "checkbox" id = "custom-test-toggle"/><label for = "custom-test-toggle">Add Custom Test Footer</label></div>
		<div class = "source custom-test-on" id = "test-cases">
			<textarea class = "code dynamic codebox" id = "custom-test-footer"></textarea>
		</div>
		<div class = "source custom-test-off" id = "test-cases">
			<button id = "add-case" class = "btn">+</button>
			<div id = "cases">
				<!-- test cases go here -->
			</div>
		</div>
	</div>
	<button class = "btn" id = "ato">Open ATO (saves)</button>
	<button class = "btn" id = "save">Save Contents</button>
</div>
<script src = "page_handler.js"></script>