<h1>Compressed Lua</h1>
<div id = "structure">
	<div id = "double-source">
		<div class = "source" id = "c-source">
			<textarea
				class = "dynamic codebox"
				id = "clua"
			></textarea>
			<div class = "source-hangoff" id = "clua-hangoff">
				<div id = "chars"></div>
				<p id = "code-info"></p>
			</div>
		</div>
		<button class = "btn" id = "transpile">Transpile…</button>
		<div class = "source" id = "l-source">
			<textarea
				class = "dynamic codebox"
				id = "lua"
			></textarea>
			<div class = "source-hangoff">
				<p>that'll be a button someday</p>
			</div>
		</div>
	</div>
</div>
<script src = "page_handler.js"></script>