<h1>Text-to-Speech</h1>
<div>Joey is the best TTS of all time and you can't change my mind.</div>
<form id = "block">
	<textarea
		id = "text"
		required
		resize = false
	>Joey is the highest form of text-to-speech.</textarea>
	<div id = "row">
		<button type = "submit" id = "submit_button">Create Perfection</button>
		<audio controls id = "speech"></audio>
	</div>
</div>