<h1>Text-to-Speech</h1>
Joey is the best TTS of all time and you can't change my mind.
<form id = "text_submit">
	<textarea id = "text">Joey is the highest form of text-to-speech.</textarea>
	<button type = "submit" id = "submit_button">Create Perfection</button>
</form>
<audio controls id = "speech"></audio>